@use './variables';

.footer {
    background-color: variables.$colorgrispale;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 0.5rem;

    .footer__social {
        p {
            text-align: center;
            color: variables.$colorbleufonce;
        }
    }
}
