@use 'variables';

header {
    position: fixed;
    z-index: 9999;
    width: 100%;
}

.navbar--div {
    background-color: variables.$colorgrispale;
}
a.nav-link {
    color: variables.$colorbleufonce;
}