@use 'variables';
@use 'mixins';

.imageFond {
    background-image: url(../img/world-wide-web.jpg);
    background-size: cover;

    h1 {
        color: variables.$colorblanc;
    }
}

.first {
    height: 40vw;
}

@include mixins.respond-to('md') {
    .imageFond {
        h1 {
            font-size: 2rem;
        }
    }
}
